/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



.mainContainer{
	margin-left:70px;
	margin-right:70px;
	
}

/* START - Top Nav CSS */

.wrapper nav{
	width: 100%;
	position: fixed;
	color: black;

  }

  /* menu base styles */
  
  nav{
      /*
	background-image: -o-linear-gradient(bottom, #637694 0%, #C5CFE0 100%);
	background-image: -moz-linear-gradient(bottom, #637694 0%, #C5CFE0 100%);
	background-image: -webkit-linear-gradient(bottom, #637694 0%, #C5CFE0 100%);
	background-image: -ms-linear-gradient(bottom, #637694 0%, #C5CFE0 100%);
	background-image: linear-gradient(to bottom, #637694 0%, #C5CFE0 100%);
    */
    
    background-color: white;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
  }
  
  nav ul{
	justify-content: space-around;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
  }
  
  nav a{
	text-decoration: none;
	text-align: center;
	color: black;
	display: block;
	padding: 10px;
  }
  
  nav a:hover{

  }

  .buttonRD button{
	all: unset;
	
	
  }

  .buttonRD{
	margin: 0 auto;
	/* doesn't work = align-content: center;*/
	margin-left: 50px;
	
	}
	
	.topnavRD_closed{
		display: flex;
    }




.bottomFlexContainer{
    
    flex-direction: row;
    flex-wrap: wrap;
}

.topnav{
	min-height: 66px;
}

.topnav a {
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	margin-top: 0px;
}

.topnav a:hover {
	color: black;
}

.topnav a.active {
	color: white;
}



.topRightLogo{
	background-image: url("../img/logo.png");
  	background-repeat: no-repeat;
  	background-position: center;
  	z-index: 20;
	
    width: 183px;
	height: 36px;
	flex: 1 1 0;
	justify-content: space-evenly;
	
	
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }

/* END - Top Nav CSS */


/* START - media queries */

@media screen and (max-width: 500px){
	nav{
        justify-content: center;
        align-content: center;
		
	}

	.topRightLogo{
		flex:1;
	}
	.topnav{
		display: none;
    }
    
    .topnav800{
        display: none;
    }

    .topnavRD_closed{
        display: none;
    }
    
	.topnavRD_open{
		
    }

    .baseFlexContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .leftFlexColumn{

    }

    .rightFlexColumn{
        display: none;
    }

    .navItem{
        justify-content: space-evenly;
        margin:0px 0px 0 0px;
        border: solid 1px grey;
        width: 500px;
    }

    .sloganFine{
        margin-top: 150px;
    }

    .only501up{
        display: none;
    }

    .mainFlex{
        
        display:flex;
        flex-direction:column;
        justify-content: center;
      }
      
      .flexI{
       
    
        padding: 0px;
        align-self: center;
        
      }
    
      .only500up{
        display: none;
      }
}
@media screen and (min-width: 500px){
	nav ul{
		display: flex;
		justify-content: space-between;
		
	}

	nav li{
		/*flex: 1 1 0;*/
		height: 100%;
		flex: 0 0 100px;
	}

	nav{
		
	}

	.topRightLogo{
		display: flex;
	}

	.topnavRD_open{
		display: none;
	}

	.topnavRD_closed{
		display: none;
	}

	.logo-right{
		margin-right: 30px;
	}

    .topSectionLeft{
        
    }
    .only501up{
        display: none;
    }
    
}


@media screen and (min-width: 800px){
    .topnav800{
        display:none;
    }

    

    .navItem{
        justify-content: space-evenly;
        margin:20px 20px 0 20px;

    }
    
}

@media screen and (max-width: 800px){
    
    
    

    .topSection{
		display: flex;
		
		flex-direction: column;	
		
	}
	.slogan{
		
		align-self: center;
		min-width: 256px;
	}
	.logo-right{
		
		align-self: center;
		width: 397px;
		margin-right: 0px;
        min-width: 382px;
        display: none;
	}
	.circle{
		margin-left: 0px;
	}

	.midSection{
		flex-direction: column;
	}
	.topSectionLeft{
		align-self: center;
		justify-self: center;
		min-width: 500px;
		padding: 0;
		
	}

	.topSectionRight{
		align-self: center;
		justify-self: center;
		min-width: 500px;
		padding: 0;
	}

	.botMainSection{
		display: flexbox;
		flex-direction: column;
	}

	.botSectionLeft{
		align-self: center;
		
		min-width: 500px;
	}

	.botSectionCenter{
		margin: auto;
		
		min-width: 500px;
	}

	.botSectionRight{
		align-self: center;
		
		min-width: 500px;
    }
    
    .topRightLogo{
        align-self: flex-start;
        margin: 20px;
    }

    .topnav{
        display:none;
    }

    

    
    
}

/* END - media queries */


/* START - CSS for positioning the slogan and start button     */
.topSection{
	padding-top: 60px;
	margin-left: 0px;
	display: flex;
	justify-content: space-around;
}

.slogan{
	text-align: center;
	font-size: 60px;
	margin-top: 100px;
	
	width: 175px;
	flex:1;
}

.sloganFine{
	
	padding-left: 0px;
	padding-top: 20px;
	
}

.startbutton{
	width: 150px;
	height: 20px;
	margin-left: 0px;
	box-sizing: border-box;
}

.blockText{
	margin-left: auto;
	margin-right: auto;
	width: 4em;
	text-align: center;
}
/* END - CSS for positioning the slogan and start button */

/* START - css for positioning the circle logo */
.logo-right{
	margin-top: 40px;

	background-image: url("../img/header-img.png");
	background-repeat: no-repeat;
	background-position: right top;
	width: 379px;
	height: 379px;
	
  flex: 1 auto;
	
}

.circle {
	border-radius: 50px;
	
	
}
/* END - css for positioning the circle logo */


/* START - css for central section, 2 column flex layout as well
as the 3 item flex articles below the central img*/

.baseFlexContainer{
    display: flex;
   
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    
    margin: 0px;
    justify-content: space-between;
  }

.bottomFlexContainer{
    display: flex;
   
    
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    
    margin: 0px;
    justify-content: space-between;
  }
  
  .leftFlexColumn{
    display:flex;
    flex-direction: column;
    width: 40%;
    
    margin: 5px;
    padding: 5px;
    
    align-items: center;
  }
  
  .rightFlexColumn{
    display:flex;
    flex-direction: column;
    width: 40%;
    
    margin: 5px;
    padding: 5px;
    
    align-items: center;
  }
  
  .flexItem{
    width: 210px;
    height: 200px;
    
  }
  
  .myArticle{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    
  }

  .centerFlexColumn{
    display:flex;
    flex-direction: column;
    width: 40%;
    
    margin: 5px;
    padding: 5px;
    
    align-items: center;
  }

  .test{
      
  }

  /* END - css for central section, 2 column flex layout */

hr{
	border: 1px solid black;
} 

.midSection{
	width: 100%;
	height: 100%;
	display: flex;
}

.topSectionLeft{
	width: 49%;
	padding: 10px;	
		
}

.topSectionRight{
	width: 50%;
	padding: 10px;
		
}

.botMainSection{
	display: flex;
}

.botSectionLeft{
	width:33%;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 15px;
	flex: 1 0 auto;
}
.botSectionCenter{
	width:33%;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 15px;
	margin: auto;
	flex: 1 0 auto;
}
.botSectionRight{
	width:33%;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 15px;
	flex: 1 0 auto;
}



.img-center{
	background-image: url("../img/mid-page-accent.jpg");
  	background-repeat: no-repeat;
  	background-position: center;	
	display: inline-block;
    width: 100%;
    height: 182px; 
}

.bottomSpace{
	height: 800px;
}





